@import '../../marketplace.css';

.heading {
  margin: 5px 0 18px 0;

  @media (--viewportMedium) {
    margin: 2px 0 23px 0;
  }
}

.content {
  @media (--viewportLarge) {
    max-width: 563px;
  }

  & h2 {
    color: var(--matterColorAnti);
    margin-top: 45px;

    @media (--viewportMedium) {
      margin-top: 45px;
    }
  }
  & ul {
    list-style-type: circle;
    margin-left: 24px;
  }
  & ol {
    padding: 0;
    margin-left: 24px;
  }
  & p,
  & li {
    @apply --marketplaceBodyFontStyles;
  }
}
